.main {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e1e3eb;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 570px;
  width: 350px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 60px;
  border-radius: 60px;
  background-color: white;
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 200px;
  width: 200px;
  margin-bottom: 40px;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 10px 0px #bbb;
  border: none;
  outline: none;
  background-color: #fff;
}

.input-field-icons {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 23px 0 0 25px;
}

.name {
  padding-left: 70px;
  margin-top: 10px;
  font-size: 20px;
}
.input {
  /* padding: 10px; */
  padding: 10px 200px 0;
}

button {
  width: 250px;
  height: 50px;
  border-radius: 60px;
  background-color: #b103fc;
  color: white;
  font-size: 25px;
  border: none;
}
.Register-button {
  padding-top: 25px;
}

.link {
  font-size: 15px;
  font-weight: 400;
}
a {
  color: blue;
}
